/* ////////////////////////////////////// */
/* RESPONSIVE CSS Min:2160 --> Max:2750px */
/* ////////////////////////////////////// */


@media all and (min-width: 2160px) and (max-width: 2750px) {

    /* ///////////////////// */
    /* MISE EN FORME DE BASE */
    a {
        font-size: 1em;
    }

    h2 {
        font-size: 1.6em;
    }

    /* ////////////////////////////////////////////////////////////////////////// */
    /* CONTENEUR POUR LE LOGO ET LE MENU DE NAVIGATION (PLACÉS EN ENTETE DU SITE) */

    /* REGLES POUR LA MISE EN FORME DU LOGO */
    .header-logo {
        padding-top: 1em;
        padding-left: 8%;
    }

    .svg-logo {
        width: 16em;
    }    

    /* REGLES POUR LA MISE EN FORME DU MENU DE NAVIGATION */    
    .header-nav {
        padding-right: 8%;
    }

    .header-nav a {
        width: 12em;
    }


    /* ///////////////////////////////////////////////////////////////////////// */
    /* CONTENEUR POUR LE CHAMPS DE RECHERCHE, LE FILTRES ET LE NOMBRE DE RESULTAT*/
    .search-container {
        margin: 0 6% 0 6%;
    }    


    /* ////////////////// */
    /* CONTENEUR PRINCIPAL*/
    main {
        justify-content: center;
        margin: 0 6% 0 6%;
    }


    /* ////////////////////////////////////////////////////////////// */
    /* REGLES POUR LA MISE EN FORME DE LA PARTIE: SECTION HEBERGEMENT */ 
    .hosting-container:nth-child(1) {
        flex: 3;
        margin: 0 4em 0 4em;
    }

    .hosting-selection-container .thumbnail a {
        width: 24em;
    }


    /* ////////////////////////////////////////////////////////////////////// */
    /* REGLES POUR LA MISE EN FORME DE LA PARTIE: SECTION LES PLUS POPULAIRES */ 
    .most-popular-container:nth-child(2) {
        margin: 0 4em 0 4em;
    }


    /* ////////////////////////////////////////////////////// */
    /* REGLES POUR LA MISE EN FORME DE LA SECTION "ACTIVITES" */
    .activity-container {
        margin: 2em 3em 0 3em;
    }

    .activity-selection-container {
        justify-content: center;
    }

    .activity-article-content-1 a {
        width: 30em;
        margin: 1.3em;
    }

    .activity-article-content-1 img {
        width: inherit;
    }

    .activity-article-content-2-1 a {
        width: 30em;
        margin: 1em 0.6em;
    }

    .activity-article-content-2-1 img {
        width: inherit;
    }
}