/* ////////////////////////////////////// */
/* RESPONSIVE CSS Min:1440 --> Max:1752px */
/* ////////////////////////////////////// */


@media all and (min-width: 1440px) and (max-width: 1752px) {


    /* ///////////////////// */
    /* MISE EN FORME DE BASE */
    h2 {
        font-size: 1em;
    margin-left: 1em;
    }

    h3 {
        font-size: medium;
    }

    h4 {
        font-size: smaller;
    }

    p {
        font-size: smaller;
        padding-left: 0;
    }

    ul {
        padding: 0.5em 3em 0 0;
    }
    
    .fa, .fas {
        font-size: x-small;
    }


    /* ////////////////////////////////////////////////////////////////////////// */
    /* CONTENEUR POUR LE LOGO ET LE MENU DE NAVIGATION (PLACÉS EN ENTETE DU SITE) */
    .header-container {
        height: 6em;
    }

    /* REGLES POUR LA MISE EN FORME DU LOGO */
    .header-logo {
        padding-top: 0.5em;
        padding-left: 3.5em;
    }

    .header-logo:hover {
        transform: rotate(-2deg) scale(1.1);
    }

    /* REGLES POUR LA MISE EN FORME DU MENU DE NAVIGATION */
    .header-nav a {
        width: 8em;
        padding: 1em 1em 0 1em;
    }


    /* ///////////////////////////////////////////////////////////////////////// */
    /* CONTENEUR POUR LE CHAMPS DE RECHERCHE, LE FILTRES ET LE NOMBRE DE RESULTAT*/    

    /* MISE EN FORME DES ELEMENTS DU MENU DE RECHERCHE */
    .search-field-form {
        margin-top: 0.5em;
    }

    /* BOUTON DE RECHERCHE PAR SELECTION SUR CARTE (GOOGLE MAP, MAPPY,...) */ 
    .search-field-form .fas {
        width: 3em;
        height: 3em;
    }

    /* CHAMPS DE TEXTE POUR LE BOUTON DE RECHERCHE */ 
    .search-field-form #search-field-submit {
        height: 3em;
        padding-left: 1em;
    }

    /* BOUTON POUR LANCER LA RECHERCHE */    
    .search-field-form .search-button {
        width: 9em;
        height: 3em;
    }

    /* REGLES POUR LA MISE EN FORME DE LA PARTIE: FILTRE DE RECHERCHE */    
    .filter-elements {
        justify-content: flex-start;
        align-items: center;
        margin: 0.5em 0 0.5em 0;
    }

    .filter-button {
        height: 2.2em;
        border: 0.1em solid #f2f2f2;
    }

    .filter-button .fas {
        width: 3.5em;
        height: 3.5em;
    }

    .filter-button:hover {
        border: #0065Fc solid 0.1em; 
    }


    /* ////////////////////////////////////////////////////////////// */
    /* REGLES POUR LA MISE EN FORME DE LA PARTIE: SECTION HEBERGEMENT */    
    .hosting-container:nth-child(1) {
        padding: 1em;
        margin: 0 0.5em 1.5em 1em;
    }

    .hosting-selection-container {
        justify-content: space-evenly;
        height: 100%;
    }

    .hosting-selection-container .thumbnail {
        margin: 1.5em 0.1em 1.5em 0.1em;
    }    

    .hosting-selection-container .thumbnail a {
        width: 17em;
        margin: 0 1em 0 1em;
        border-bottom: #fff solid 0.2em;
    }

    .hosting-selection-container .thumbnail a:hover {
        border-bottom: #0065fc solid 0.2em;
    }

    .hosting-selection-container .thumbnail img {
        height: 7em;
    }


    /* ////////////////////////////////////////////////////////////////////// */
    /* REGLES POUR LA MISE EN FORME DE LA PARTIE: SECTION LES PLUS POPULAIRES */    
    .most-popular-container:nth-child(2) {
        padding: 1em;
        margin: 0 1em 1.5em 0.5em;
    }

    .most-popular-title .fas {
        font-size: 1em;
    }

    .most-popular-selection-container {
        justify-content: space-evenly;
        height: 100%;
    }

    .most-popular-selection-container .thumbnail {
        margin: 0.5em 0.1em 0.5em 0.1em;
    }

    .most-popular-selection-container .thumbnail:hover {
        border-bottom: #0065FC solid 0.2em;
    }    

    .most-popular-selection-container .thumbnail img {
        width: 5em;
        height: 7em;
    }
    
    .popular-thumbnail * {
        padding-left: 0.2em;
    }

    .popular-thumbnail .star-result {
        padding-top: 1em;
        align-items: flex-end;
    }    


    /* ////////////////////////////////////////////////////// */
    /* REGLES POUR LA MISE EN FORME DE LA SECTION "ACTIVITES" */
    .activity-container {
        margin: 1em 0.5em;   
    }

    .activity-article-content-1 a {
        width: 18em;
        margin: 1em;
        justify-content: space-between;
        border-bottom: #fff solid 0.5em;    
    }

    .activity-article-content-1 a:hover {
        border-bottom: #0065FC solid 0.2em;    
    }

    .activity-article-content-1 img {
        width: inherit;
    }

    .activity-article-content-2-1 a {
        width: 18em;
        justify-content: space-between;
        border-bottom: #fff solid 0.2em;    
    }

    .activity-article-content-2-1 a:hover {
        border-bottom: #0065FC solid 0.2em;
    }

    .activity-article-content-2-1 img {
        width: inherit;
    }


    /* /////////////////////////////////////////////////// */
    /* REGLES POUR LA MISE EN FORME DE LA SECTION "FOOTER" */
    nav {
        margin-top: 0;
        padding: 0 2em 1em 2em;
    }

    .site-footer a {
        font-size: x-small;
    }


    /* ///////////////////////////////////////////////////////////// */
    /* REGLES POUR LA MISE EN FORME GLOBALE DU CONTENU DES VIGNETTES */
    .thumbnail {
        margin: 1em 0.5em;
    }

    .thumbnail h3, p {
        margin: 0.1em 0.5em 0.1em 0.2em;
    }

    .thumbnail-title:nth-child(1) {
        flex: 2;
    }

    .thumbnail .star-result:nth-child(2) {
        margin: 0.1em 0.2em 0.1em 1em;
    }
}