/* ////////////////////////////////////// */
/* RESPONSIVE CSS Min:320px --> Max:544px */
/* ////////////////////////////////////// */

@media all and (min-width:320px) and (max-width:544px) {


    /* ///////////////////////////////////// */
    /*MISE EN FORME DES BALISES*/
    h2 {
        font-size: 1em;
        margin-left: 1em;
    }

    h5 {
        font-weight: normal;
    }

    p {
        font-size: smaller;
        text-align: center;
    }


    /* ///////////////////////////////////// */
    /*HEADER /MENU DE NAVIGATION*/
    header {
        width: fit-content;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .header-nav {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly; /*center;*/
        /*width: 100%;*/
        padding-right: 0;
        padding-top: 5em;
    }

    .header-nav a {
        width: 100%;
        padding: 1em 1em 1em 1em;
        border-top: none;
        border-bottom: 0.1em solid #FFF;
    }

    .header-nav a:hover {
        padding: 1em 1em 1em 1em;
        border-top: none;
        border-bottom: 0.1em solid #0065FC;
    }     

    .header-nav .hosting-button {
        font-size: 1em;
    }

    .header-nav .activity-button {
        font-size: 1em;
    }    

    .header-nav .register-button {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;        
        font-size: 1.5em;
        font-weight: bold;
        border-bottom: none;
    }

    .header-nav .register-button:hover {
        border-bottom: none;
    }


    /* LOGO D'ENTETE */
    .header-logo {
        padding-top: 0.2em;
        padding-left: 1em;
        transform: none;
        transition: none;
        position: absolute;             
    }    

    .header-logo:hover {
        transform: none;   
    }

    .svg-logo {
        width: 8em;
    }


    /* ///////////////////////////////////// */
    /*CHAMPS ET FILTRES DE RECHERCHE*/
    .search-container {
        padding: 1em;
    }

    .search-header {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
    }    

    .search-field {
        justify-content: center;
    }

    .search-field .fas {
        width: 2em;
        height: 2em;
    }

    .search-field-form {
        flex-flow: row nowrap;
    }

    #search-field-submit {
        width: 13em;
        height: 2em;
    }
        
    .search-button {
        width: 7em;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filter-elements a {
        margin: 1em 0 0 0.5em;
/*        flex-flow: row nowrap;*/
        font-size: 0.8em; 
    }

    .filter-elements {
        align-items: center;
        width: 100%;
        margin: 0.5em 0 0.5em 0;
        flex-wrap: wrap;
    }

    .filter-button {
        padding: 0 0.5em 0 0;
        margin-left: 0.5em;
        height: 3em;
    }

    .filter-button .fas {
        width: 3em;
        height: 3em;
        margin-right: 0.5em;
    }

    .search-result {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .search-result .fas {
        margin: 0;
    }

    .search-result p {
        font-size: xx-small;
    }

    /* ///////////////////////////////////// */
    /*CONTENEUR PRINCIPAL*/
    main {
        display: flex;
        justify-content: center;
    }

    /* ///////////////////////////////////// */
    /*HEBERGEMENT*/
    .hosting-container:nth-child(1) {
        flex: none;
        order: 2;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 1em;
        margin: 0.5em 1em 0.5em 1em;
    }

    .hosting-title {
        display: flex;
        width: inherit;
    }

    .hosting-selection-container {
        display: flex;
        flex-direction: column;
        width: inherit;
    }

    .hosting-selection-container .thumbnail a {
        width: 90%;
        margin: 1em 1em 0 1em;
/*        height: 18em;*/
    }

    .hosting-selection-container .thumbnail a:hover {
    transition: none;
    transform: none;        
    }

    .hosting-selection-container .thumbnail img {
        height: 7em;
    }


    /*BOUTON D'AFFICHAGE SUPPLEMENTAIRE - BAS DE SECTION HEBERGEMENT*/
    .hosting-more > a {
        margin: 0;;
    }


    /* ///////////////////////////////////// */
    /*LES PLUS POPULAIRES*/
    .most-popular-container:nth-child(2) {
        flex: none;
        order: 1;
        width: 100%;
        height: auto;
        padding: 1em;
        margin: 0.5em 1em 0.5em 1em;
    }

    .most-popular-title .fas {
        padding-right: 1em;
    }

    .most-popular-selection-container {
        align-items: center;
    }

    .most-popular-selection-container .thumbnail {
        width: 90%;
    }

    .most-popular-selection-container .thumbnail a {
        height: 8em;
    }

    .most-popular-selection-container .thumbnail:hover {
        border-bottom: none;
        border-right: #0065FC solid 0.5em;        
        transition: none;
        transform: none;      
    }

    .most-popular-selection-container .thumbnail img {
        width: 7em;
        height: auto;
        border-radius: 1.2em 0 0 1.2em;
        object-fit: cover;
    }

    /* ///////////////////////////////////// */
    /*ACTIVITÉS*/
    .activity-container {
        order: 3;
        margin: 0.5em 1em 0.5em 1em;
        padding: 0;
        border-radius: 2em;
        background-color: #fff;
        box-shadow: none; 
        align-items: center;   
    }

    .activity-title {
        display: flex;
        width: inherit;
    }

    .activity-title h2 {
        margin-left: inherit;
    }

    .activity-selection-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* ///////////////////////////////////// */
    /*VIGNETTES CONTENEUR #1*/
    .activity-article-content-1 {
        display: flex;
        height: 12em;
        width: 100%;
        height: auto;
        margin: 1.2em 0 0 0;
    }

    .activity-article-content-1 img {
        width: inherit;
        height: 90%;
    }    

    .activity-article-content-1 a {
        justify-content: center;
        width: 100%;
        height: 8em;
        margin: 1em 0 1em 0;
        padding-bottom: 0.1em;
    }

    .activity-article-content-1 a:hover {
        border-bottom: #0065FC solid 0.5em;
        transition: none; 
        transform: none;       
    }

    /* ///////////////////////////////////// */
    /*VIGNETTES CONTENEUR #2*/
    .activity-article-content-2 {
        display: flex;
        flex-wrap: wrap;
/*        margin-top: 3em;*/
        width: 100%;
    }

    .activity-article-content-2-1 {
        display: flex;
        width: inherit;
    }

    .activity-article-content-2-1 a {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 9.5em;
        margin: 1em 0;
    }

    .activity-article-content-2-1 img {
        width: 100%;
    }    

    .activity-article-content-2-1 a:hover {
        border-bottom: #0065FC solid 0.5em;    
        transition: none; 
        transform: none; 
    }


    /* ///////////////////////////////////// */
    /*SECTION FOOTER*/
    footer {
        min-width: 0;
    }

    nav {
        flex-flow: column nowrap;
        margin-top: 1em;
        padding: 0 0.5em 1em 0.5em;
    }

    .site-footer h4 {
        margin: 1em 0;
    }

    .site-footer li {
        margin: 0.5em;
    }


    /* ///////////////////////////////////// */
    /*MISE EN FORME GLOBALE DU CONTENU DES VIGNETTES*/
    ul {
        padding: 0.2em 1em 0.2em 0em;
        font-size: small;
    }

    .thumbnail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .thumbnail h3, p {
        font-size: inherit;
        margin: 0.1em 0.5em 0 0.5em;
    }
    
    .thumbnail-title p {
        text-align: start;
        margin: 0;
        font-size: small;
    }

    .thumbnail .star-result:nth-child(2) {
        margin: 0 0.5em 0 0.5em;
        align-items: flex-end;
    }

    .star-result .fas {
        font-size: 0.8em;
    }

}