/* //////////////////////// */
/* RESPONSIVE CSS Max:544px */
/* //////////////////////// */


@media all and (max-width:544px) {

    body {
        width: fit-content;
    }    

    /* ///////////////////// */
    /* MISE EN FORME DE BASE */
    h2 {
        font-size: 1em;
        margin-left: 1em;
    }

    h5 {
        font-weight: normal;
    }

    p {
        font-size: smaller;
        text-align: center;
    }

    ul {
        padding: 0.2em 1em 0.2em 0em;
        font-size: small;
    }


    /* ////////////////////////////////////////////////////////////////////////// */
    /* CONTENEUR POUR LE LOGO ET LE MENU DE NAVIGATION (PLACÉS EN ENTETE DU SITE) */
    .header-container {
        flex-direction: column;
        position: relative;
    }

    /* REGLES POUR LA MISE EN FORME DU LOGO */
    .header-logo {
        padding-top: 0.2em;
        padding-left: 1em;
        transition: none;
        position: absolute;             
    }    

    .header-logo:hover {
        transform: none;
        transition: none;   
    }

    .svg-logo {
        width: 8em;
    }    
    
    /* REGLES POUR LA MISE EN FORME DU MENU DE NAVIGATION */
    .header-nav {
        flex-flow: row nowrap;
        justify-content: space-evenly;
        padding-top: 5em;        
        padding-right: 0;
    }

    .header-nav a {
        width: 100%;
        padding: 1em 1em 1em 1em;
        border-top: none;
        border-bottom: 0.1em solid #FFF;
    }

    .header-nav a:hover {
        padding: 1em 1em 1em 1em;
        border-top: none;
        border-bottom: 0.1em solid #0065FC;
    }     

    .header-nav .hosting-button, .activity-button {
        font-size: 1em;
    } 

    .header-nav .register-button {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;        
        font-size: 1.5em;
        font-weight: bold;
        border-bottom: none;
    }

    .header-nav .register-button:hover {
        border-bottom: none;
    }


    /* ///////////////////////////////////////////////////////////////////////// */
    /* CONTENEUR POUR LE CHAMPS DE RECHERCHE, LE FILTRES ET LE NOMBRE DE RESULTAT*/
    .search-container {
        padding: 1em;
    }

    /* MODE D'AFFICHAGE "DESKTOP" OU "MOBILE" POUR LE CHAMPS DE RECHERCHE */
    .search-field {
        display: none;
    }

    .search-field-for-mobile {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: auto;
    }

    /* MISE EN FORME DES ELEMENTS DU MENU DE RECHERCHE */
    .search-field-form {
        justify-content: center;
    }        

    /* BOUTON DE RECHERCHE PAR SELECTION SUR CARTE (GOOGLE MAP, MAPPY,...) */
    .search-field-form .fas {
        width: 2em;
        height: 2em;    
    }

    /* CHAMPS DE TEXTE POUR LE BOUTON DE RECHERCHE */
    .search-field-form #search-field-submit {
        width: 13em;
        height: 2em;
    }

    /* BOUTON (ICONE) POUR LANCER LA RECHERCHE */
    .search-button-for-mobile .fas {
        background-color: #0065fc;
        border-radius: 0.5em 0.5em 0.5em 0.5em ;
        color: #FFF;
    }

    .search-button-for-mobile .fas:hover {
        background: rgb(0,101,252);
        background: linear-gradient(180deg, rgba(0,101,252,1) 0%, rgba(0,101,252,1) 0%, rgba(0,91,228,1) 100%);
        text-shadow: 0.02em 0.02em 0.02em #000;
        cursor: pointer;
    }

    
    /* REGLES POUR LA MISE EN FORME DE LA PARTIE: FILTRE DE RECHERCHE */
    .filter-elements a {
        /*margin: 1em 0 0 0.5em;
        /* flex-flow: row nowrap;*/
        font-size: 0.8em; 
    }

    .filter-elements {
        align-items: center;
        width: 100%;
        margin: 0.5em 0 0.5em 0;
        flex-wrap: wrap;
    }

    .filter-button {
        padding: 0 0.5em 0 0;
        margin-left: 0.5em;
        height: 3em;
    }

    .filter-button .fas {
        width: 3em;
        height: 3em;
        margin-right: 0.5em;
    }

    .search-result {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .search-result .fas {
        margin: 0;
    }

    .search-result p {
        font-size: xx-small;
    }

    /* ///////////////// */
    /*CONTENEUR PRINCIPAL*/
    main {
        justify-content: center;
    }

    /* ////////////////////////////////////////////////////////////// */
    /* REGLES POUR LA MISE EN FORME DE LA PARTIE: SECTION HEBERGEMENT */
    .hosting-container:nth-child(1) {
        flex: none;
        order: 2;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 1em;
        margin: 0.5em 1em 0.5em 1em;
    }

    .hosting-title {
        display: flex;
        width: inherit;
    }

    .hosting-selection-container {
        flex-direction: column;
        width: inherit;
    }

    .hosting-selection-container .thumbnail a {
        width: 90%;
        margin: 1em 1em 0 1em;
    }

    .hosting-selection-container .thumbnail a:hover {
    transition: none;
    transform: none;        
    }

    .hosting-selection-container .thumbnail img {
        height: 7em;
    }

    /* BOUTON D'AFFICHAGE SUPPLEMENTAIRE - BAS DE SECTION HEBERGEMENT */
    .hosting-more > a {
        margin: 0;
    }


    /* ////////////////////////////////////////////////////////////////////// */
    /* REGLES POUR LA MISE EN FORME DE LA PARTIE: SECTION LES PLUS POPULAIRES */
    .most-popular-container:nth-child(2) {
        flex: none;
        order: 1;
        width: 100%;
        height: auto;
        padding: 1em;
        margin: 0.5em 1em 0.5em 1em;
    }

    .most-popular-title .fas {
        padding-right: 1em;
    }

    .most-popular-selection-container {
        align-items: center;
    }

    /* REGLES POUR LA MISE EN FORME DES VIGNETTES DE LA SECTION "LES PLUS POPULAIRES" */
    .most-popular-selection-container .thumbnail {
        width: 90%;
    }

    .most-popular-selection-container .thumbnail a {
        height: 8em;
    }

    .most-popular-selection-container .thumbnail:hover {
        border-bottom: none;
        border-right: #0065FC solid 0.5em;        
        transition: none;
        transform: none;      
    }

    .most-popular-selection-container .thumbnail img {
        width: 7em;
        height: auto;
        border-radius: 1.2em 0 0 1.2em;
        object-fit: cover;
    }

    /* ////////////////////////////////////////////////////// */
    /* REGLES POUR LA MISE EN FORME DE LA SECTION "ACTIVITES" */
    .activity-container {
        order: 3;
        margin: 0.5em 1em 0.5em 1em;
        padding: 0;
        border-radius: 2em;
        background-color: #fff;
        box-shadow: none; 
        align-items: center;   
    }

    .activity-title {
        display: flex;
        width: inherit;
    }

    .activity-title h2 {
        margin-left: inherit;
    }

    .activity-selection-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* REGLES POUR LA MISE EN FORME DES VIGNETTES (CONTENEUR 1) DE LA SECTION "ACTIVITES" */
    .activity-article-content-1 {
        display: flex;
        height: 12em;
        width: 100%;
        height: auto;
        margin: 1.2em 0 0 0;
    }

    .activity-article-content-1 img {
        width: inherit;
        height: 90%;
    }    

    .activity-article-content-1 a {
        justify-content: center;
        width: 100%;
        height: 8em;
        margin: 1em 0 1em 0;
        padding-bottom: 0.1em;
    }

    .activity-article-content-1 a:hover {
        transition: none; 
        transform: none;       
    }

    /* REGLES POUR LA MISE EN FORME DES VIGNETTES (CONTENEUR 2) DE LA SECTION "ACTIVITES" */
    .activity-article-content-2 {
        display: flex;
        flex-wrap: wrap;
        /* margin-top: 3em; */
        width: 100%;
    }

    .activity-article-content-2-1 {
        display: flex;
        width: inherit;
    }

    .activity-article-content-2-1 a {
        width: 100%;
        height: 9.5em;
        margin: 1em 0;
    }

    .activity-article-content-2-1 a:hover {
        transition: none; 
        transform: none; 
    }

    .activity-article-content-2-1 img {
        width: 100%;
    }    


    /* /////////////////////////////////////////////////// */
    /* REGLES POUR LA MISE EN FORME DE LA SECTION "FOOTER" */
    footer {
        min-width: 0;
    }

    nav {
        flex-flow: column nowrap;
        margin-top: 1em;
        padding: 0 0.5em 1em 0.5em;
    }

    .site-footer h4 {
        margin: 1em 0;
    }

    .site-footer li {
        margin: 0.5em;
    }


    /* //////////////////////////////////////////////////////////// */
    /* REGLES POUR LA MISE EN FORME GLOBALE DU CONTENU DES VIGNETTES*/
    .thumbnail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .thumbnail h3, p {
        font-size: inherit;
        margin: 0.1em 0.5em 0 0.5em;
    }
    
    .thumbnail-title p {
        text-align: start;
        margin: 0;
        font-size: small;
    }

    .thumbnail .star-result:nth-child(2) {
        margin: 0 0.5em 0 0.5em;
        align-items: flex-end;
    }

    .star-result .fas {
        font-size: 0.8em;
    }
}