


/*HEADER RESPONSIVE /MAX-WIDTH: 992px*/
@media all and (max-width: 992px) {

    .bloc-page {
        margin: 0;
    }

    /*HEADER /MENU DE NAVIGATION*/
    .site-header {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .site-header-nav {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .site-header-nav a {
        padding: 1em 1em 1em 1em;
        border-top: none;
        border-bottom: 0.1em solid #FFF;
    }

    .site-header-nav a:hover {
        padding: 1em 1em 1em 1em;
        border-top: none;
        border-bottom: 0.1em solid #0065FC;
    }     

    .site-header-nav .header-nav-button-hosting {
        width: 50%;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
    }

    .site-header-nav .header-nav-button-activity {
        width: 50%;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
    }    

    .header-nav-button-register {
        position:absolute;
        top: 0;
        right: 0;
        font-size: 2.5em;
        font-weight: bold;
    }

    .site-header-logo {
        padding-left: 15%;
        transform: none;                
    }    

    .site-header-logo:hover {
        transform: none;   
    }

    /*CHAMPS ET FILTRES DE RECHERCHE*/
    .search-header {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
    }    

    .search-field-content {
        width: 100%;
        display: flex;
        justify-content: center;    
    }

    .filter {
        margin: 2em 0 2em 0;
        width: 95%;
        flex-flow: row nowrap;
        align-items: flex-start; 
    }

    .filter-text {
        flex-direction: row;
        justify-content: center;
    }

    .search-field-content .fas {
        width: 4em;
        height: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        border-radius: 15px 0 0 15px;
    }

    #search-field {
        width: 32em;
        height: 4em;
        padding-left: 1em;
        border: none;
    }

    .search-button {
        width: 25em;
        height: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0065FC;
        color: white;
        border-radius: 0 15px 15px 0;
    }

    /*CONTENU PRINCIPAL*/
    /*HEBERGEMENT*/
    .hebergement-article-title:nth-child(1) {
        order: 2;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 1em;
        margin: 0.5em 1em 0.5em 1em;
        border-radius: 2em;
    }

    .hebergement-article {
        justify-content: center;
    }

    /*LES PLUS POPULAIRES*/
    .most-popular-article-title:nth-child(2) {
        order: 1;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 1em;
        margin: 0.5em 1em 0.5em 1em;
        border-radius: 2em;
    }

    .most-popular-article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .most-popular-article-content {
        display: flex;
        width: 40em;
        height: 12em;
        padding: 0.5em;
        margin: 1em;
        border-radius: 2em;
    }

    /*ACTIVITÉS*/
    .activity-article-title:nth-child(3) {
        order: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 1em;
        margin: 0.5em 1em 0.5em 1em;
        border-radius: 2em;
        background-color: #F2F2F2;    
    }

    .activity-article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .activity-article-content-1 {
        display: flex;
        width: 40em;
        height: 12em;
        padding: 0.5em;
        margin: 1em;
        border-radius: 2em;
    }

        .activity-article-content-2-1 {
        display: flex;
        width: 40em;
        height: 12em;
        padding: 0.5em;
        margin: 1em;
        border-radius: 2em;
    }
}