* {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #181818;
}

body {
    margin: 0 60px 0 60px;
    background-color: #fff;
    scroll-behavior: smooth;
}


/* HEADER */
header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

/*    border: 3px solid rgb(255, 0, 0); /*cadre de visualisation du header*/
}

.site-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
    /*Fixation de la barre de navigation*/
    position:fixed;
    background-color: #fff;
    z-index: 999;

/*    border: 3px solid rgb(255, 208, 0); /*cadre de visualisation du menu de navigation*/
}

.site-header-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 2% 0 2%;
    
/*    border: 3px solid darkgreen; /*Cadre de visualisation du menu latéral droit*/
}

#header-nav-button {
    width: 156px;
    text-align: center;
    padding: 36px 22px 0 22px;
    text-decoration: none;
    border-top: 4px solid #fff;    
    
    /*background-color: darkorchid; /*Couleur de fond pour visualisation des bouton du menu*/
}

#header-nav-button:hover {
    border-top: 4px solid #0065FC;
    font-weight: bold;    
    color: #0065FC;
    
    /*background-color: rgb(50, 104, 204); /*Couleur de fond pour visualisation des bouton du menu*/
}

#header-nav-button:last-child {
    font-weight: bold;
    color: #0065FC;
}

.site-header-logo {
    padding-top: 35px;
    transition: transform 500ms ease-out; 
}

.site-header-logo:hover {
    padding-top: 35px;
    transform: rotate(-5deg) scale(1.5);
    transition: transform 500ms ease-in;    
}

.search-header {
    width: 100%;
    padding-top: 6%;
    display: flex;
    flex-direction: column;

/*    flex-wrap: wrap;

/*    border: 5px solid rgb(50, 204, 145); /*Couleur de fond pour visualisation des bouton du menu*/
}

.search-header-content {

/*    border: orangered 3px solid;*/
}

.search-field-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 425px;    
}

.search-field-content .fas {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}

.search-field-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

/*    border: peru solid 5px; /*Cadre de visualisation*/
}

#search-field {    
    width: 235px;    
    height: 50px;
    padding-left: 10px;
    border: none; 
}

.search-button {
    width: 135px;    
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
}

.search-button:hover {
    text-shadow: 1px 1px 2px #000000;    
    cursor: pointer;
}

.filter {
    margin: 35px 0 5px 0;
    display: flex;
    flex-direction: row;
    height: 60px;

/*    border: 5px solid darkgreen; /*Cadre de visualisation*/    
}

.filter-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    font-weight: bold;
}

.filter-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: max-content;
    padding: 0 20px 0 0;
    border: 1px solid #DEEBFF;
    border-radius: 45px;
    text-decoration: none;
    transition: transform 300ms ease-out;
}

.filter-button .fas {
    display: flex;
    justify-content: space-around;
    align-items: center;     
    width: 50px;
    height: 50px;
    border-radius: 45px;
    background-color: #DEEBFF;
    color: #0065FC;
    margin-right: 10px;  
}

.filter-button:hover {
    background-color: #DEEBFF;
    transform: scale(1.1);
    transition: transform 300ms ease-in;
    border: #0065FC solid 2px;
}

.filter-button:active {
    background-color: #DEEBFF;
}

.search-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
}

.search-result .fas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 45px;
    border: #DEEBFF solid 2px;
    margin: 0 10px;
    color: #0065FC;
}






h1 {
    font-size: 125%;
}

li {
    margin-right: 20px;;
}


/*SECTION PRINCIPALE*/
main {
    display: flex;
    flex-flow: row wrap;
    padding: 5px;

    /*background-color: rgb(161, 70, 70);*/
    border: 3px solid #25ac25; /*Cadre pour visualisation*/
}

/*article {
    display: flex;
    
    /*flex-direction: row;*/    
    /*! border: solid 3px #eee23f; 
}*/


/*SECTION HÉBERGEMENT*/
.hebergement-article-title {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 1200px;
    padding: 15px;
    margin: 0 0 0 10px;
    border-radius: 20px;
    background-color: #DEEBFF;    

border: #3e25ac solid 3px;
    height: 800px;
}

.hebergement-article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}

.hebergement-article-content {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 270px;
    padding: 5px;
    margin: 35px 25px 0px 25px;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    flex-wrap: nowrap;
    transition: transform 250ms ease-out;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    border-bottom: #fff solid 2px; 
}

.hebergement-article-content:hover {
    transform: rotate(5deg) scale(1.1);
    transition: transform 150ms ease-in;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    border-bottom: #0065FC solid 3px;
    
    cursor:pointer; /*EFFET DE VISUALISATION DU CURSEUR LORS DU SURVOL DES ETIQUETES -JUSTE POUR LA DEMO-*/
}

.hebergement-article-content img {
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.article-content {
    display: flex;
    flex-flow: column wrap;
    margin-left: 20px;    
}

.article-content h3 {
    margin: 5px 5px 5px 5px;
}

.article-content .star-result {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 5px 0 5px;
}

.fa-star {
    color: #DEEBFF;
}

.fa-star.checked{
    color: #0065FC;
}

.hebergement-article-content-more > a {
    font-weight: bold;
    text-decoration: none;
    margin: 35px;
    display: flex;
}

.hebergement-article-content-more > a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #0065FC;    
}


/*SECTION ARTICLES POPULAIRES*/
.most-popular-article-title {
    display: flex;
    flex-flow: column nowrap;
    width: 465px;
    padding: 15px;
    margin: 0 10px 0 10px;
    border-radius: 20px;
    background-color: #DEEBFF;  
    
    border: #3e25ac solid 3px; /*Cadre pour visualisation*/
}

.most-popular-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.most-popular-article-content {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    height: 175px;
    padding: 5px;
    margin: 20px 40px 40px 40px;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    transition: transform 250ms ease-out;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    /*border-bottom: #fff solid 2px; */
}

.most-popular-article-content:hover {
    transform: rotate(3deg) scale(1.1);
    transition: transform 150ms ease-in;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    border-bottom: #0065FC solid 3px;
    
    cursor:pointer; /*EFFET DE VISUALISATION DU CURSEUR LORS DU SURVOL DES ETIQUETES -JUSTE POUR LA DEMO-*/
}

.most-popular-article-content img {
    display: block;
    width: 30%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.popular-content {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    margin-left: 20px;
}

.popular-content h3 {
    margin: 0 5px 5px 0;
    height: 25px;
}

.popular-content span {
    margin: 20px 0;
}

.popular-content .star-result {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 5px 0 5px;
    padding: 35px 0 0 0;
}

.star-result {
    display: flex;
    justify-items: baseline;
}


/*SECTION ACTIVITÉS*/
.activity-article-title {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #DEEBFF;
    border: #3e25ac solid 3px;
    width: 1740px;
    margin: 10px 10px 0 10px;
    padding: 15px;
}

.activity-article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.activity-article-content-1 {
    display: flex;
    width: 380px;
    height: 420px;
    margin: 10px;

    background: coral; /*FOND DE BLOC POUR VISUALISATION*/ 
}

.activity-article-content-2 {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;
}

.activity-article-content-2-1 {
    width: 380px;
    height: 200px;
    margin: 10px;

    background: blueviolet; /*FOND DE BLOC POUR VISUALISATION*/
}