* {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;    
}

body {
    display: block;
    margin: 0;
}

/* ///////////////////////////////////////////////////////////////////////////// */
/*MISE EN FORME DES ELEMENTS PAR DEFAUT*/
a {
    color: inherit;
    text-decoration: none;
}

p {
    padding: 0.5em;
}

h2 {
    font-size: 1.25em;
}

ul {
    display: block;
    list-style-type: none;
    padding: 0.5em 11em 0 0;
}

/* ///////////////////////////////////////////////////////////////////////////// */
/* HEADER */
.header-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: auto;
    top: 0;
    left: 0;
    background-color: #fff;

    /*border: 3px solid rgb(255, 208, 0); /*cadre de visualisation du menu de navigation  (A supprimer)*/    
}

/* LOGO D'ENTETE */
.header-logo {
    padding-top: 1.2em;
    padding-left: 4em;
    transition: transform 500ms ease-out;
}

.header-logo:hover {
    transform: rotate(-3deg) scale(1.5);
    transition: transform 500ms ease-in;
}

.svg-logo {
    width: 12em;
}

/* MENU DE NAVIGATION */
.header-nav {
    display: flex;
    flex-flow: row wrap;
    padding-top: 0;
    padding-right: 4em;

    /*border: 3px solid darkgreen; /*Cadre de visualisation du menu latéral droit (A supprimer)*/
}

.header-nav a {
    width: 10em;
    text-align: center;
    padding: 2em 1em 0 1em;
    border-top: 0.3em solid #fff;

    /*background-color: pink; /*Couleur de fond pour visualisation des bouton du menu (A supprimer)*/
}

.header-nav a:hover {
    font-weight: bold;
    color: #0065fc;
    border-top: 0.3em solid #0065fc;
}

.register-button {
    font-weight: bold;
    color: #0065fc;
}

.search-container {
    display: flex;
    flex-direction: column;
    padding: 0 4em 0 4em;
    width: auto;

    /*border: 3px solid rgb(0, 170, 162); /*Couleur de fond pour visualisation des bouton du menu (A supprimer)*/
}

.search-field {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: auto;

    /*border: 3px solid rgb(0, 72, 167); /*Couleur de fond pour visualisation des bouton du menu (A supprimer)*/
}

.search-field .fas {
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 2em 0 0 2em;
}

.search-field .fas:hover {
    background: rgb(242,242,242);
    background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 0%, rgba(235,235,235,1) 100%);
    text-shadow: 0.02em 0.02em 0.02em #000;
    cursor: pointer;
}

.search-field-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#search-field-submit {
    width: 30em;
    height: 5em;
    padding-left: 2em;
    border: none;
}

.search-button {
    color: #fff;
    border: none;    
    width: 12em;
    height: 5em;
    background-color: #0065fc;
    border-radius: 0 2em 2em 0 ;
}

.search-button:hover {
background: rgb(0,101,252);
background: linear-gradient(180deg, rgba(0,101,252,1) 0%, rgba(0,101,252,1) 0%, rgba(0,91,228,1) 100%);
    text-shadow: 0.05em 0.05em 0.1em #000;
    cursor: pointer;
}

.filter-elements {
    display: flex;
    flex-direction: row;
    margin: 2em 0 1em 0;

    /*border: 3px solid rgb(29, 92, 175); /*Couleur de fond pour visualisation des bouton du menu (A supprimer)*/    
}

.filter-button {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: max-content;
    padding: 0 1em 0 0;
    margin-left: 2em;
    border: 0.04em solid #deebff;
    border-radius: 2em;
    transition: transform 300ms ease-out;
}

.filter-button .fas {
    display: flex;
    justify-content: space-around;
    align-items: center;     
    width: 4em;
    height: 4em;
    border-radius: 2em;
    background-color: #DEEBFF;
    color: #0065FC;
    margin-right: 1em;     
}

.filter-button:hover {
    background-color: #DEEBFF;
    border: #0065FC solid 0.04em;    
    transform: scale(1.05);
    transition: transform 300ms ease-in;
}

.search-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 3em;
}

.search-result .fas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    border: #DEEBFF solid 0.04em;
    margin: 0 1em;
    color: #0065FC;
}

/* ///////////////////////////////////////////////////////////////////////////// */
/*CONTENEUR PRINCIPAL*/
main {
    display: flex;
    flex-flow: row wrap;
    width: auto;

    /*border: 3px solid rgb(182, 20, 20); /*Couleur de fond pour visualisation des bouton du menu (A supprimer)*/      
}

/* ///////////////////////////////////////////////////////////////////////////// */
/*SECTION HÉBERGEMENT*/
.hosting-container:nth-child(1) {
    flex: 3;    
    display: flex;
    flex-flow: column nowrap;
    padding: 1.2em;
    margin: 0 0 0 2em;
    border-radius: 2em;
    background-color: #F2F2F2;
    box-shadow: 0.05em 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.1);         

    /*border: #3e25ac solid 3px; /*Cadre pour visualisation (A supprimer)*/
}

.hosting-selection-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    /*border: #62ac25 solid 3px; /*Cadre pour visualisation (A supprimer)*/    
}

.hosting-selection-container .thumbnail a {
    width: 20em;

    display: flex;
    flex-flow: column wrap;
    padding: 0.2em;
    margin: 2em 2em 0 2em;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0.05em 0.05em 0.5em 0.1em rgba(0, 0, 0, 0.1);
    border-bottom: #fff solid 0.5em;
    transition: transform 250ms ease-out;    
}

.hosting-selection-container .thumbnail a:hover {
    box-shadow: 0.05em 0.05em 0.5em 0.1em rgba(0, 0, 0, 0.1);
    border-bottom: #0065FC solid 0.5em;
    transition: transform 150ms ease-in;
    transform: rotate(2.5deg) scale(1.05);        
}

.hosting-selection-container .thumbnail img {
    width: inherit;
    height: 10em;
    display: flex;
    flex-flow: column wrap;
    border-radius: 2em 2em 0 0;
    object-fit: cover;
}

/*BOUTON D'AFFICHAGE SUPPLEMENTAIRE - BAS DE SECTION HEBERGEMENT*/
.hosting-more {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hosting-more > a {
    font-weight: bold;
    text-decoration: none;
    margin: 35px;
    display: flex;
}

.hosting-more > a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #0065FC;    
}


/* ///////////////////////////////////////////////////////////////////////////// */
/*SECTION ARTICLES POPULAIRES*/
.most-popular-container:nth-child(2) {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    padding: 1.2em;
    margin: 0 2em 0 2em;
    border-radius: 2em;
    background-color: #F2F2F2;  
    
    /*border: #3e25ac solid 3px; /*Cadre pour visualisation (A supprimer)*/
}

.most-popular-selection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*border: #62ac25 solid 3px; /*Cadre pour visualisation (A supprimer)*/    
}

.most-popular-selection-container a {
    display: flex;
    flex-flow: row nowrap;
}

.most-popular-selection-container .thumbnail {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.2em;
    margin: 1em 1em 0 1em;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0.05em 0.05em 0.5em 0.1em rgba(0, 0, 0, 0.1);
    border-bottom: #fff solid 0.5em;
    transition: transform 250ms ease-out;    

    /*border: #ff8800 solid 3px; /*Cadre pour visualisation (A supprimer)*/     
}

.most-popular-selection-container .thumbnail:hover {
    box-shadow: 0.05em 0.05em 0.5em 0.1em rgba(0, 0, 0, 0.1);
    border-bottom: #0065FC solid 0.5em;
    transition: transform 150ms ease-in;
    transform: rotate(3deg) scale(1.1);        
}

.most-popular-selection-container .thumbnail img {
    display: flex;
    width: 10em;
    height: 12em;
    border-radius: 2em 0 0 2em;
    object-fit: cover;
}

.popular-thumbnail {
    padding: 1em;
}


/* ///////////////////////////////////////////////////////////////////////////// */
/*SECTION ACTIVITES*/
.activity-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2em 2em 0 2em;
    padding: 1.2em;
    border-radius: 2em;
    background-color: #F2F2F2;

    /*border: #3e25ac solid 3px; /*Cadre pour visualisation*/    
}

.activity-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/*.activity-selection img {
    width: 24em;
    height: 90%;
    /* padding: 0.2em; *
    object-fit: cover;
    border-radius: 2em 2em 0 0;
}*/

.activity-article-content-1 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24em;
    height: 90%;
    margin: 1.3em;
    border-radius: 2em;
    background-color: #fff;    
    box-shadow: 0.05em 0.05em 0.5em 0.1em rgba(0, 0, 0, 0.1);
    border-bottom: #fff solid 0.5em;
    transition: transform 250ms ease-out;

    /*background: coral; /*Couleur de fond pour visualisation du conteneur (A supprimer)*/
}

.activity-article-content-1 a:hover {
    border-bottom: #0065FC solid 0.5em;
    transition: transform 250ms ease-in; 
    transform: rotate(2.5deg) scale(1.05);       
}

.activity-article-content-1 img {
    width: 24em;
    height: 86%;
    object-fit: cover;
    border-radius: 2em 2em 0 0;
}

.activity-article-content-2 a {
    display: flex;
    flex-direction: column;
    margin: 1.3em;
}

.activity-article-content-2-1 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24em;
    height: 13em;
    /*margin: 0.6em;*/
    border-radius: 2em;
    background-color: #fff;    
    box-shadow: 0.05em 0.05em 0.5em 0.1em rgba(0, 0, 0, 0.1);
    border-bottom: #fff solid 0.5em;    
    transition: transform 250ms ease-out;

    /*background: blueviolet; /*Couleur de fond pour visualisation du conteneur (A supprimer)*/
}

.activity-article-content-2-1 a:hover {
    border-bottom: #0065FC solid 0.5em;    
    transition: transform 250ms ease-in;
    transform: rotate(2.5deg) scale(1.05); 
}

.activity-article-content-2-1 img {
    width: 24em;
    height: 75%;
    object-fit: cover;
    border-radius: 2em 2em 0 0;
}


/* ///////////////////////////////////////////////////////////////////////////// */
/*SECTION FOOTER*/
footer {
    min-width: 100%;
    position: relative;
    background-color: #F2F2F2;

    /*border: 3px solid #25ac25; /*Cadre pour visualisation*/
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-top: 2em;
    padding: 0 5em 2em 5em;
    
    /*border: #3e25ac solid 3px; /*Cadre pour visualisation*/
}

/*.site-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 300px;

    background-color: #25ac25;
    border-radius: 20px;

}*/


/* ///////////////////////////////////////////////////////////////////////////// */
/*MISE EN FORME GLOBALE DU CONTENU DES VIGNETTES*/
.thumbnail .fa-star {
    color: #DEEBFF;
    padding-left: 0.2em;
}

.thumbnail .fa-star.checked {
    color: #0065FC;
}

.thumbnail h3, p {
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.thumbnail .star-result {
    display: flex;
    flex-flow: row wrap;
    margin: 0.5em 0.5em 0.1em 0.8em;
}