* {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #181818;
}

body {
    display: block;
    margin: 0;
    /*background-color: rgb(187, 74, 74);*/
}


/* HEADER */
header {
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    /*border: 3px solid rgb(255, 0, 0); /*cadre de visualisation du header*/
}

.site-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;    
    
    /*Fixation de la barre de navigation*/
    /*position:fixed;
    z-index: 999;*/

    /*border: 3px solid rgb(255, 208, 0); /*cadre de visualisation du menu de navigation*/
}

.site-header-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 3.2em 0 2em;
    
/*    border: 3px solid darkgreen; /*Cadre de visualisation du menu latéral droit*/
}

.site-header-nav a {
    width: 10em;
    text-align: center;
    padding: 2em 1em 0 1em;
    text-decoration: none;
    border-top: 0.3em solid #fff;    
    
    /*background-color: darkorchid; /*Couleur de fond pour visualisation des bouton du menu*/
}

.site-header-nav a:hover {
    border-top: 0.3em solid #0065FC;
    font-weight: bold;    
    color: #0065FC;
    
    /*background-color: rgb(50, 104, 204); /*Couleur de fond pour visualisation des bouton du menu*/
}

.header-nav-button-register {
    font-weight: bold;
    color: #0065FC;
}

.site-header-logo {
    padding-top: 1.2em;
    padding-left: 3.2em;
    transition: transform 500ms ease-out; 
}

.site-header-logo:hover {
    transform: rotate(-5deg) scale(1.5);
    transition: transform 500ms ease-in;    
}

img.responsive-logo {
    width: 12em;
}

.search-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 3.2em;

/*    flex-wrap: wrap;

/*    border: 5px solid rgb(50, 204, 145); /*Couleur de fond pour visualisation des bouton du menu*/
}

.search-header-content {

/*    border: orangered 3px solid;*/
}

.search-field-content {
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    justify-content: space-around;
    /*align-items: center;*/
    width: 425px;    
}

.search-field-content .fas {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}

.search-field-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

/*    border: peru solid 5px; /*Cadre de visualisation*/
}

#search-field {    
    width: 235px;    
    height: 50px;
    padding-left: 10px;
    border: none; 
}

.search-button {
    width: 135px;    
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
}

.search-button:hover {
    text-shadow: 1px 1px 2px #000000;    
    cursor: pointer;
}

.filter {
    margin: 35px 0 5px 0;
    display: flex;
    flex-direction: row;
    height: 4em

/*    border: 5px solid darkgreen; /*Cadre de visualisation*/    
}

.filter-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-weight: bold;
}

.filter-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: max-content;
    padding: 0 20px 0 0;
    margin-left: 2em;
    border: 1px solid #DEEBFF;
    border-radius: 45px;
    text-decoration: none;
    transition: transform 300ms ease-out;
}

.filter-button .fas {
    display: flex;
    justify-content: space-around;
    align-items: center;     
    width: 50px;
    height: 50px;
    border-radius: 45px;
    background-color: #DEEBFF;
    color: #0065FC;
    margin-right: 10px;  
}

.filter-button:hover {
    background-color: #DEEBFF;
    transform: scale(1.05);
    transition: transform 300ms ease-in;
    border: #0065FC solid 2px;
}

.filter-button:active {
    background-color: #DEEBFF;
}

.search-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
}

.search-result .fas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 45px;
    border: #DEEBFF solid 2px;
    margin: 0 10px;
    color: #0065FC;
}






h1 {
    font-size: 1.25em;
}

h3 {
    font-weight: bold;
}

/*li {
    margin-right: 20px;
    list-style-type: none;
}*/

ul {
    display: block;
    list-style-type: none;
    padding: 5px 185px 0 0;
}

a {
    text-decoration: none;
}

/*SECTION PRINCIPALE*/
main {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    /*background-color: rgb(161, 70, 70);*/
    /*border: 3px solid #25ac25; /*Cadre pour visualisation*/
}

/*article {
    display: flex;
    
    /*flex-direction: row;*/    
    /*! border: solid 3px #eee23f; 
}*/


/*SECTION HÉBERGEMENT*/
.hebergement-article-title:nth-child(1) {
    display: flex;
    flex: 3;
    flex-flow: column nowrap;
    /*width: 63.5%;
    height: auto;*/
    padding: 1.2em;
    margin: 0 0 0 2em;
    border-radius: 2em;
    background-color: #F2F2F2;    

    /*border: #3e25ac solid 3px; /*Cadre pour visualisation*/
}

.hebergement-article {
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.hebergement-article-content {
    /*display: flex;
    flex-direction: column;*/
    width: 30%;
    height: 25%;
    padding: 0.2em;
    margin: 0 1em 0 1em;
    background-color: #fff;
    border-radius: 2em;
    flex-wrap: nowrap;
    transition: transform 250ms ease-out;
    box-shadow: 0.05em 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.1);
    border-bottom: #fff solid 0.5em; 
}

.hebergement-article-content:hover {
    transform: rotate(5deg) scale(1.1);
    transition: transform 150ms ease-in;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    border-bottom: #0065FC solid 3px;
    
    cursor:pointer; /*EFFET DE VISUALISATION DU CURSEUR LORS DU SURVOL DES ETIQUETES -JUSTE POUR LA DEMO-*/
}

.hebergement-article-content img {
    width: 100%;
    height: 70%;
    border-radius: 2em 2em 0 0;
    object-fit: cover;
}

.article-content {
    display: flex;
    flex-flow: column wrap;
    margin-left: 20px;    
}

.article-content h3 {
    margin: 5px 5px 5px 5px;
}

.article-content .star-result {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 5px 0 5px;
}

.fa-star {
    color: #DEEBFF;
}

.fa-star.checked{
    color: #0065FC;
}

.hebergement-article-content-more {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hebergement-article-content-more > a {
    font-weight: bold;
    text-decoration: none;
    margin: 35px;
    display: flex;
}

.hebergement-article-content-more > a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #0065FC;    
}


/*SECTION ARTICLES POPULAIRES*/
.most-popular-article-title:nth-child(2) {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    width: 27%;
    height: auto;
    padding: 1.2em;
    margin: 0 2em 0 2em;
    border-radius: 2em;
    background-color: #F2F2F2;  
    
    /*border: #3e25ac solid 3px; /*Cadre pour visualisation*/
}

.most-popular-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.most-popular-article-content {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    height: 175px;
    padding: 5px;
    margin: 20px 40px 40px 40px;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    transition: transform 250ms ease-out;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    /*border-bottom: #fff solid 2px; */
}

.most-popular-article-content:hover {
    transform: rotate(3deg) scale(1.1);
    transition: transform 150ms ease-in;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    border-bottom: #0065FC solid 3px;
    
    cursor:pointer; /*EFFET DE VISUALISATION DU CURSEUR LORS DU SURVOL DES ETIQUETES -JUSTE POUR LA DEMO-*/
}

.most-popular-article-content img {
    display: block;
    width: 30%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.popular-content {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    margin-left: 20px;
}

.popular-content h3 {
    margin: 0 5px 5px 0;
    height: 25px;
}

.popular-content > span {
    display: flex;
    flex-flow: column nowrap;
    margin: 20px 0;
}

.popular-content .star-result {
    display: flex;
    flex-flow: row nowrap;
    /*margin: 0 5px 0 5px;*/
    padding: 60px 0 0 0;
}

.star-result {
    display: flex;
    justify-items: baseline;
}


/*SECTION ACTIVITÉS*/
.activity-article-title {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    margin: 10px 10px 0 10px;
    padding: 15px;

    /*background-color: #DEEBFF;*/
    /*border: #3e25ac solid 3px; /*Cadre pour visualisation*/    
}

.activity-article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

@media all and (max-width: 1100px) {
    .activity-article {
    flex-direction: column;
    justify-content: center;
    background-color: #aa2222;    

    /*border: #3e25ac solid 3px; /*Cadre pour visualisation*/
    }
}

.activity-article-content-1 {
    display: flex;
    width: 380px;
    height: 420px;
    margin: 10px;
    border-bottom: #fff solid 2px;
    border-radius: 20px;    
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    transition: transform 250ms ease-out;        

    background: coral; /*FOND DE BLOC POUR VISUALISATION*/ 
}

.activity-article-content-1:hover {
    transition: transform 250ms ease-in;
    transform: rotate(2.5deg) scale(1.05);
    border-bottom: #0065FC solid 3px;
}

.activity-article-content-2 {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;
}

.activity-article-content-2-1 {
    width: 380px;
    height: 200px;
    margin: 10px;
    border-bottom: #fff solid 2px;
    border-radius: 20px;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    transition: transform 250ms ease-out;

    background: blueviolet; /*FOND DE BLOC POUR VISUALISATION*/
}

.activity-article-content-2-1:hover {
    transition: transform 250ms ease-in;
    transform: rotate(2.5deg) scale(1.05);
    border-bottom: #0065FC solid 3px;    
}


/*SECTION FOOTER*/
footer {
    min-width: 100%;
    position: relative;
    background-color: #F2F2F2;
    border-radius: 20px;    

    /*border: 3px solid #25ac25; /*Cadre pour visualisation*/
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 60%; 
    padding: 0 20px 5px 20px;
    
    /*border: #3e25ac solid 3px; /*Cadre pour visualisation*/
}

/*.site-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 300px;

    background-color: #25ac25;
    border-radius: 20px;

}*/